body {
  background: #FFD6EB;
  padding: 0;
}

p {
  font-family:Raleway;
  color: black;
  text-align: left;
}

h1 {
  color: #800080;
  font-size: 2em;
  text-align: center;
  padding-top: 60px; 
  width: 100%;
  font-family:Raleway;
}

h2 {
  font-family:Raleway;
  color: black;
}

.introduction {
  background-color: #FFD6EB;
}

#name {
  background-color: #FFD6EB;
}

table {
  width: 100%; 
    background-color:white;
}

image {
  margin: auto;
  position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

canvas {
    position: relative;
  padding-bottom: 100px; 
}

a:link {
    color: #800080; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #800080;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #800080;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #800080;
    background-color: transparent;
    text-decoration: underline;
}